@import './_variables.css';
@import './icons.css';

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.msg-wrapper {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  z-index: 1;
}

.msg-item,
.msg-item-error {
  position: relative;
  background: var(--bgColor);
  color: var(--textColor);
  border: 2px solid var(--bgColorDark);
  border-radius: 5px;
  padding: 1rem;
}
.msg-item-error {
  background: var(--errorColor);
  border: 2px solid var(--errorColorDark);
}
.msg-txt {
  color: var(--textColor);
  font-size: 1rem;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  margin-left: 0.5rem;
}